# 5.1 Tuples in Python

In [1]:
# Delcaration

tup = (10,20, 30, 40)

print(type(tup), tup)

<class 'tuple'> (10, 20, 30, 40)

In [5]:
#Mixed Tuple
mixed_tup = (10, 10.5, "str", True)
print(mixed_tup)

(10, 10.5, 'str', True)

In [8]:
#If there is only one value in tuple(without comma) it will be act as integer
tupl = (10)
print(type(tupl), tupl)

<class 'int'> 10

In [12]:
#Accessing Tuple 
tt = (10,20,30,10.5, "str", False)

#By Index:
print(tt[3])

#Slicing

new_tt = tt[:3]
print(new_tt)

10.5
(10, 20, 30)

In [17]:
#Tuple methods
tup = (10,10,20,10,30)
print(tup.count(10))

print(tup.index(20))

3
2

# 5.2 Sets in Python

In [19]:
A = {1,2,3}
print(type(A), A)

<class 'set'> {1, 2, 3}

In [21]:
#empty set
s=set() #s= {} will be count as dictionary
print(type(s))

<class 'set'>

In [42]:
#Acceessing, set can not be access directly, No Indexing No Slicing support

S = {1,1,2,3,4,5,5,2}

if 3 in S:
  print("Three is present")
else:
  print("Not present")

for el in S:
  print(el)
#set is unordered
S = {21,1,1,2,3,4,5,5,9,0}
print(S)

Three is present
1
2
3
4
5
{0, 1, 2, 3, 4, 5, 9, 21}

In [ ]:
#Set Methods:
#intersection(), union(), isdisjoint(), issubset()
#Mutable

S.add(19)
print(S)

#S.pop()
#print(S)

S.remove(9)
print(S)

{0, 1, 2, 3, 4, 5, 9, 19, 21}
{0, 1, 2, 3, 4, 5, 19, 21}

In [51]:
#Set methematical methods:
a= {1,2,3,4}
b= {1,2,3,4,5}
print(a.union(b))

print(a.intersection(b))

print(a.isdisjoint(b))

print(a.issubset(b))

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
False
True

# 5.3 Dictionary Basics

In [52]:
dic  = {}
print(type(dic))

<class 'dict'>

In [60]:
dic = {"name": "Hijbulllah",
"age" : 25,
"address" : "Dhaka",
"numbers" : [1,2,3,4,5]}
print(type(dic), dic)

<class 'dict'> {'name': 'Hijbulllah', 'age': 25, 'address': 'Dhaka', 'numbers': [1, 2, 3, 4, 5]}

In [63]:
#access-> through key
#dic_name[key]
print(dic["name"], dic["numbers"])
print(dic.get("age"))

dic["name"] = "Md. Taher Bin Omar Hijbullah"
print(dic["name"])

Md. Taher Bin Omar Hijbullah [1, 2, 3, 4, 5]
25
Md. Taher Bin Omar Hijbullah

In [65]:
dic = {"name": "Hijbulllah",
"age" : 25,
"address" : "Dhaka",
"numbers" : [1,2,3,4,5],
"age" : 30}
print(dic)

{'name': 'Hijbulllah', 'age': 30, 'address': 'Dhaka', 'numbers': [1, 2, 3, 4, 5]}